body {
  font-size: 16px;
}
.wrap {
  max-width: 1200px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

h5.data-label {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1rem;
}
.data-val {
  font-size: 2rem;
  color: var(--blue)
}