header {
  position: fixed;
  width: 100%;
  background-color: var(--blue);
  color: white;
  height: 3.125rem;
  h1 {
    font-size : 1.25rem;
    line-height: 3.125rem;
    margin: 0 0 0 1rem;

  }
}
.nav {
  width: 9.5rem;
  font-size: 0.875rem;
  border-bottom: 2px solid var(--orange);
  .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
}
.arrow {
	position: relative;
	background: #cdcdcd;
  height: 1.25rem;
  display: block;
  margin-right: 1.5rem;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(205, 205, 205, 0);
    border-top-color: #cdcdcd;
    border-width: 9px;
    margin-left: -9px;
  }
}
section { 
  margin-bottom: 2.1875rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  border-bottom: 2px solid var(--grey-md);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.DATA_SET h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

h5.data-label {
  font-size: 1rem;
  font-weight: 500;
  font-weight: normal;
  margin: 0 0 0.75rem;
}
.data-val {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--blue)
}

.cdk-table {
  font-size: 0.875rem;
  width: 100%;
 
  th {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.875rem;
    white-space: nowrap;
    background-color: white;
    color: var(--blue);
    border-color: var(--grey-dark);
  }
  tr {
    font-weight: 400;
    line-height: 1rem;
    white-space: nowrap;
    &:nth-child(odd) {
      background-color: var(--grey-md);
    }
  }
  .cdk-row,
  .cdk-header-row,
  .cdk-footer-row {
    height: 2.5rem
  }
  td.cdk-cell,
  th.cdk-header-cell,
  td.cdk-footer-cell {
    text-align: right;
    &.channel,
    &.segment,
    &.tactic {
      text-align: left;
    }
  }

  td.cdk-footer-cell {
    border-top: 1px solid var(--grey-dark);
    border-top: 1px solid var(--grey-dark);
  }
  .mdc-data-table__cell, 
  .mdc-data-table__header-cell {
    padding: 0 0.5rem;
  }
}