 
 
 <header class="flex-between">
  <h1>{{ layoutDetails.displayName }}</h1>
  <div class="nav flex-between">
    <div class="flex-between items-center">
      <div class="icon"><img src="assets/squares.svg"></div>      <div>Reports</div>
    </div>
    <div class="arrow"></div>
  </div>
 </header>
 
<main class="flex-center">
  <div class="wrap">
    <article class="grid">
      <section [class]="ld.type" *ngFor="let ld of layoutDetails.layout" [ngStyle]="{'width': wToPerc(ld.width) + '%'}">
        <h4>      
          {{ ld.label }}
        </h4>
        <div  *ngIf="ld.type === 'DATA_POINT'; else elseBlock">
          <div class="grid">
            <div  *ngFor="let elem of ld.elements" [ngStyle]="{'width': wToPerc(elem.width) + '%'}">
              <h5 class="data-label">{{ layoutDetails.fieldDefinitions[elem.name].label }}</h5>
              <div class="data-val">{{ metricData.dataPoints[elem.name] | metricFormatPipe: layoutDetails.fieldDefinitions[elem.name]}}</div>
            </div>
          </div>
        </div>
  
        <ng-template #elseBlock>
          <div>
            <table mat-table [dataSource]="metricData.dataSets[0].data">            
              <ng-container *ngFor="let f of ld.elements[0].fields"  [matColumnDef]="f.name">
                <th [class]="f.name" mat-header-cell *matHeaderCellDef> {{ layoutDetails.fieldDefinitions[f.name].label }}</th>
                <td [class]="f.name" mat-cell *matCellDef="let row"> {{ row[f.name] | metricFormatPipe: layoutDetails.fieldDefinitions[f.name] }} </td>
                <td [class]="f.name" mat-footer-cell *matFooterCellDef="let row"> {{ handleTableFooter(f.name) | metricFormatPipe: layoutDetails.fieldDefinitions[f.name] }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
              <tr mat-row *matRowDef="let rowData; columns: tableCols"></tr>
              <tr mat-footer-row *matFooterRowDef="tableCols"></tr>
            </table>
          </div>
        </ng-template>

      </section>
    </article>
  </div>
</main>
