
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$m-blue-palette: (
 50: #ede7f6,
 100: #d1c3ea,
 200: #b29bdc,
 300: #9373cf,
 400: #7b54c4,
 500: #6437b9,
 600: #5b32b3,
 700: #4e2aab,
 800: #3b1d9d,
 900: #231090,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$metrics-page-primary: mat.define-palette($m-blue-palette);
$metrics-page-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$metrics-page-theme: mat.define-light-theme((
  color: (
    primary: $metrics-page-primary,
    accent: $metrics-page-accent,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($metrics-page-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Helvetica Neue", sans-serif; 
  color: var(--grey-dark)
}
:root {
  --blue: #231090;
  --orange: #e96c30;
  --grey-dark: #31383f;
  --grey-md: #f6f6f6;
  --grey-light: #d2d6da
  --grey-light: #eee;

}